body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.introducao {
  background: url("../img/car-header.png") no-repeat center;
  height: 820px;
  width: 100%;
  background-size: cover !important;
}

.introducao header {
  height: 102px;
  background-color: #19191a;
}

.container-header {
  padding-top: 17px;
}

.logo {
  line-height: 102px;
}
.logo-img {
  width: 50px;
  /* border-right: 1px solid #fff; */
}

.logo-img::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 60px;
  background: #fff;
  margin: 8px auto;
}
.logo span {
  color: #fff;
  position: relative;
  bottom: 12px;
  left: 6px;
  font-family: Raleway, sans-serif;
}

.header_menu {
  text-align: right;
}
.header_menu ul {
  height: 100%;
  width: 100%;
  padding-top: 9px;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
  height: 100%;
  vertical-align: middle;
}

.header_menu ul li a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.header_menu ul li a:hover {
  color: #f7a801;
}

/* FIM - Header */

/* Introdução */
.call_action {
  /* background-color: green; */
  height: 350px;
  text-align: center;
  margin-top: 188px;
}
.call_action h1,
div {
  color: #fff;
  text-align: center;
}
.call_action h1 {
  font-family: "Raleway", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0px;
  padding: 0px 15px 0px 15px;
  margin: 17px 0px 0px 0px;
}

.call_action h1:first-child {
  margin-left: 123px;
}

.call-enfase {
  font-family: "Raleway", Sans-serif;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: -0.3px;
  padding: 0px 15px 0px 15px;
  margin: 32px 0px 77px 0px;
}

.call-enfase::after {
  content: "";
  display: block;
  width: 480px;
  height: 4px;
  background: #fff;
  margin: 8px auto;
}

.btn-call {
  color: #fff;
  font-size: 14px;
  /* line-height: 20px; */
  /* font-weight: 800px; */
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 17px 45px 19px 45px;
  margin: 38px 0px 0px 15px;
  background-color: #f7a801;
  border-radius: 0px 0px 0px 0px;
  cursor: pointer;
}

.btn-call:hover {
  background-color: #19191a;
}
/* Fim - Introdução */

/* Serviços */

.servicos {
  margin-top: 80px;
}
.servicos h2.servicos_title {
  color: #b7b9be;
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.servicos .servicos_title {
  text-align: center;
}
.grid-4 {
  color: #000;
}
.servicos h2 {
  color: #1b242b;
  font-family: "Raleway", Sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
}

.servicos-intro1 {
  font-weight: 300;
}

.servicos-intro2 {
  font-weight: 800;
  line-height: 1.25em;
  letter-spacing: -0.2px;
}

.servicos-imagens {
  margin-top: 40px;
}

.servicos-imagens div {
  position: relative;
}
.servicos-imagens h2 {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.9px;
  padding: 0% 0% 0% 0%;
  margin: 0px 0px 6px 0px;
  position: relative;
  top: -67px;
}

.servicos-imagens i {
  color: #fff;
  position: absolute;
  text-align: center;
  right: 90px;
  top: 20px;
}

.servicos-itens {
  background: url("../img/bg-services.webp");
}

.servico-itens ul li {
  float: left;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
}

.servicos-seta {
  color: #f7a801;
  margin-right: 7px;
}

.txt-servico {
  font-family: "Open Sans", Sans-serif;
  color: #1b242b;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
}

.textofinal-servico {
  text-align: center;
  color: #8d98a1;
  font-family: "Open Sans", Sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  margin: 70px 0;
}
.textofinal-servico p {
  max-width: 700px;
  margin: 0 auto;
}

.call-servicos {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

/* Fim - Serviços */

/* Qualificação */
.qualificacao {
  margin-top: 60px;
  background-color: #f7a801;
  padding-bottom: 80px;
}

.qualificacao-title {
  margin-top: 60px;
  color: #1b242b;
  font-family: "Raleway", sans-serif;
  font-size: 27px;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: -0.2px;
  margin-bottom: 40px;
}

.qualificacao-title strong {
  font-weight: 900;
}

.qualificacao-lista {
  margin-top: 20px;
  display: inline;
}
.qualificacao-lista li {
  background-color: #f6f6f7;
  height: auto;
}

.qualificacao-lista i {
  margin-top: 27px;
  color: #16191b;
  padding: 25px;
  background-color: #f7a801;
  color: #fff;
  border-radius: 50%;
}

.qualificacao-lista h3 {
  margin-top: 40px;
  color: #1b242b;
  font-family: "Raleway", Sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.1px;
}

.qualificacao-lista p {
  color: #8d98a1;
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 15px;
  padding: 8px 10px;
  padding-bottom: 27px;
}

/* Fim Qualificação */

/* Sobre */
.sobre {
  background-color: #1b242b;
  padding-bottom: 80px;
}

.sobre-title {
  color: #757981;
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.sobre-subtitle {
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.25em;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

.sobre-subtitle2 {
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
}
.container-estatistica {
  margin-top: 60px;
}
.estatistica {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.estatistica span {
  color: #f7a801;
  font-family: "Raleway", Sans-serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 1em;
  margin-right: 5px;
  position: relative;
  margin: 0 auto;
}
.estatistica h2 {
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.9px;
  margin: 0 auto;
  margin-top: 5px;
}
